<div class="register-container">
    <form id="addTripFrom">
        <div class="form-group">
            <label for="city">Miasto</label>
            <input id="city" type="text" placeholder="Miasto" name="city" required>
        </div>
        <div class="form-group">
            <label for="departureTime">Godzina odjazdu</label>
            <input id="departureTime" type="time" name="departureTime" required>
        </div>
        <div class="form-group">
            <label for="arriveTime">Godzina przyjazdu</label>
            <input id="arriveTime" type="time" name="arriveTime" required>
        </div>
        <div class="form-group">
            <label for="content"></label>
            <textarea id="content" name="content" cols="30" rows="10" required></textarea>
        </div>
        <div class="form-group">
            <label for="pricePerPerson">Cena za osobę</label>
            <input id="pricePerPerson" type="number" name="pricePerPerson" required>
        </div>
        <a href="#/home" class="cancelbtn btn">Anuluj</a>
        <button type="submit" class="btn">Dodaj</button>
    </form>
</div>
