<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>TIN ADMIN</title>
</head>
<body>
<div class="admin-container" id="container">
    <h2>Tabela rezerwacji</h2>
</div>
<div class="popup" hidden>
    <form id="editForm">
        <div class="form-group">
            <label for="drivers">Wybierz kierowcę</label>
            <select name="drivers" id="drivers" required></select>
        </div>
        <div class="form-group">
            <label for="cars">Wybierz samochód</label>
            <select name="cars" id="cars" required></select>
        </div>
        <button class="btn cancelbtn" type="button" id="cancelEdit">Anuluj</button>
        <button class="btn" type="submit">Zapisz</button>
    </form>
</div>

<script src="../js/event.js"></script>
<script src="../js/admin/admin.popup.js"></script>
<script src="../js/admin/admin.service.js"></script>
<script src="../js/admin/admin.model.js"></script>
<script src="../js/admin/admin.js"></script>
</body>
</html>
