<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>TIN</title>
</head>
<body>
<table>
    <tr>
        <th>miasto</th>
        <th>mail</th>
        <th>numer telefonu</th>
        <th>kierowca</th>
        <th>samochód</th>
        <th>status</th>

    </tr>
    <tr>
        <td>ertet</td>
        <td>ertert</td>
        <td>ertert</td>
        <td>ertetr</td>
        <td>ertetr</td>
        <td>ertt</td>

    </tr>
    <tr>
        <td>ert</td>
        <td>ert</td>
        <td>ert</td>
        <td>ert</td>
        <td>ert</td>
        <td>ert</td>

    </tr>
</table>
</body>
</html>