
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>TIN</title>
</head>
<body>
<header class="header">
    <div>
        <div>
            <img src="../images/logo.png" alt="logo"  class="img-responsive" width="304" height="100"/>
        </div>
        <div class="navbar">
            <a href="#home">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Tours
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/templates/zakopane.html">Zakopane</a>
                    <a href="/templates/krakow.html">Kraków</a>
                    <a href="/templates/warszawa.html">Warszawa</a>
                </div>
            </div>
            <a href="#news">Contact</a>
            <a href="../templates/logowanie.html">Zaloguj</a>
            <a href="../templates/rejestracja.html">Zarejestruj</a>

        </div>
    </div>

</header>
<section class="body">
    <div class="trip">
        <img src="../images/krakow.jpg">
        <div class="bodyTrip">
            <section>
                <p>   tu będzie ekst na temat wycieczki do krakowa</p>
            </section>

        </div>
    </div>


</section>
<footer>
    <p>Contact information: </p>
    <p> Ul. piekna 5/46</p>
    <p> Warsaw 00-406</p>

</footer>
</body>
