<div class="register-container">
    <h2>Rejestracja</h2>
    <form id="sign-up-form">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" placeholder="E-mail" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input id="password" type="password" placeholder="Hasło" name="password" required>
        </div>
        <div class="form-group">
            <label for="password-repeat">Powtórz hasło</label>
            <input id="password-repeat" type="password" placeholder="Powtórz hasło" name="password-repeat" required>
            <p class="errorMessage">Hasła są różne</p>
        </div>
        <p>Rejestrując się akceputjesz <a href="#">regulamin</a>.</p>
        <button type="button" class="cancelbtn btn" onclick="window.history.back()">Anuluj</button>
        <button type="submit" class="btn" id="submit-btn">Zarejestruj się</button>
    </form>
</div>
