<div class="register-container">
    <h2>Rezerwacja <span id="reservationPrefix"></span></h2>
    <form id="formReservation">
        <div class="form-group">
            <label>Miasto</label>
            <input type="text" placeholder="Miasto" name="city" required>
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="email" placeholder="email" name="mailUser" required>
        </div>
        <div class="form-group">
            <label>numer telefonu</label>
            <input type="text" placeholder="telefon" name="phoneUser" required>
        </div>
        <div class="form-group">
            <label>data</label>
            <input type="date" placeholder="Data" name="dateTrip" required>
        </div>
        <div class="form-group">
            <label>ilosc osób</label>
            <select name="numPeople">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <p id="reservationTripPrice">Cena za osobę: <span></span></p>
        </div>
        <button class="cancelbtn btn" onclick="window.history.back()">Anuluj</button>
        <button type="submit" class="btn" id="submit-btn">Zarezerwuj</button>
    </form>
</div>
