<div class="trip">
    <div class="trip-background bg-warsaw"></div>
    <div class="bodyTrip">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nibh est. Nunc porta, dui eu placerat porttitor, neque orci commodo nunc, eget egestas arcu elit eget velit.
            Aliquam erat volutpat. Etiam a enim nunc. Nullam quis mattis est. Cras a nunc mauris. Sed sed convallis nibh, nec pharetra libero. Morbi euismod, nisl id porttitor facilisis,
            sem eros egestas elit, sed congue dui tortor a sapien. Etiam commodo orci eget dapibus sollicitudin. Duis vitae mattis risus. Aenean nec felis urna. Nulla pellentesque, lectus
            id pretium luctus, urna velit pellentesque ex, in aliquet lacus lorem nec sem. Aenean sapien metus, ornare vitae bibendum sit amet, commodo vel nulla. Integer pharetra velit id
            cursus scelerisque. Aliquam a metus arcu.</p>

        <p> Curabitur et est eu massa convallis tincidunt vitae maximus mauris. Nam orci mi, tincidunt eget posuere eget, ullamcorper id sem. Vestibulum suscipit dignissim orci, nec v
            ehicula dui. Ut ultrices auctor dui, id scelerisque felis aliquam ultricies. Nam mattis, orci non faucibus luctus, lacus leo lacinia sem, sed efficitur mauris lectus sed
            risus. Cras vel ante id sem ultricies dapibus vel non nisl. Aliquam efficitur, eros sed ultrices condimentum, arcu sapien tristique arcu, non euismod sapien lectus vel diam.
            Nullam sit amet posuere augue. Vivamus convallis erat a eros tempor consectetur. Phasellus sagittis ultricies quam, et finibus dolor vulputate gravida. Interdum et malesuada
            fames ac ante ipsum primis in faucibus. Pellentesque ultricies tellus in odio semper tempor sit amet nec magna. Duis fermentum, lectus ut malesuada maximus, lectus arcu dictum
            eros, vitae aliquet risus leo vel orci. Nam vitae odio vitae eros suscipit dapibus. Curabitur non tempor velit. Donec semper vestibulum volutpat.</p>

        <p> Etiam est quam, venenatis ut convallis sed, lacinia at ex. Nullam sit amet augue id nibh cursus iaculis ut et nisl. Proin eleifend in mauris condimentum porttitor.
            Sed turpis dui, feugiat et justo sit amet, blandit accumsan felis. In euismod nisi nec ex congue, id pharetra nisl blandit. Praesent posuere lectus in lacus sollicitudin
            lobortis ac in odio. Aenean efficitur in augue vitae aliquam. Sed sollicitudin velit vitae magna pulvinar molestie id eget augue. Praesent aliquet porta finibus. Ut pharetra
            a nunc at sollicitudin. Nunc a risus magna. Vestibulum eget lacinia eros. Integer accumsan neque quis massa placerat, nec dictum metus placerat.</p>

        <p> Vestibulum pretium consequat ex, consectetur dapibus libero sodales ut. Pellentesque nec molestie odio. Ut pellentesque massa egestas purus consectetur, vitae lobortis nulla
            feugiat. Nunc vitae massa augue. Etiam eu sapien vel ex fermentum eleifend vitae eu ante. Vestibulum lacinia neque justo, sit amet pharetra purus varius ac. Nunc augue turpis,
            mollis in maximus a, ornare ac lectus. Phasellus dapibus elit non tortor dignissim laoreet id vel libero. Cras mattis lacus placerat bibendum commodo. Vestibulum vel urna
            ligula. Suspendisse potenti. Nullam nec condimentum nisl. Etiam fringilla quis odio eu vehicula. Nulla et tortor eget lectus faucibus congue. Curabitur vitae eros euismod,
            consequat urna ut, finibus leo.</p>
        <p id="tripPrice" data-price="199">199 zł</p>
        <a href="#reservation" class="btn" id="reservationButton" data-reservation="Warszawa">Rezerwuj</a>
    </div>
</div>
