input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.cancelbtn {
    text-decoration: none;
    background-color: #f44336;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.register-container {
    width: 400px;
    margin: 0 auto;
}

.register-container label {
    font-weight: 700;
}

.form-group.hasError input {
    border-color: red;
}

.form-group.hasError .errorMessage {
    display: block;
}

.errorMessage {
    display: none;
    position: absolute;
    bottom: -14px;
    margin: 0;
    color: red;
}