*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}

.navbar {
    background-color: #333;
    font-family: Arial, sans-serif;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.sign-out,
.nav-access {
    float: right;
}

.sign-out {
    position: relative;
}

.user-login {
    position: absolute;
    white-space: nowrap;
    top: -27px;
    right: 16px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#sign-out {
    cursor: pointer;
    color: white;
    float: left;
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
#sign-out:hover {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    background-color: #F5F5DC;
}

.bodyTrip {
    padding: 20px;
}

.bodyTrip a {
    display: inline-block;
    text-decoration: none;
}

.trip-background {
    background: center/cover no-repeat;
    height: 350px;
}

.bg-cracow {
    background-image: url('../images/krakow.jpg');
}

.bg-warsaw {
    background-image: url('../images/warszawa.jpg');
}

.bg-zakopane {
    background-image: url('../images/zakopane.jpg');
}

.form-login {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.homeContent {
   width : 80%;
   margin : 0 auto;
}
