*,
*::after,
*::before {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 17px;
}

#tripForm {
    width: 300px;
}

#tripForm select {
    height: 30px;
    padding: 0 10px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.cancelbtn {
    text-decoration: none;
    background-color: #f44336;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.register-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
}

.register-container label {
    font-weight: 700;
}

.form-group.hasError input {
    border-color: red;
}

.form-group.hasError .errorMessage {
    display: block;
}

.errorMessage {
    display: none;
    position: absolute;
    bottom: -14px;
    margin: 0;
    color: red;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}

.navbar {
    background-color: #333;
    font-family: Arial, sans-serif;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.sign-out,
.nav-access {
    float: right;
}

.sign-out {
    position: relative;
}

.user-login {
    position: absolute;
    white-space: nowrap;
    top: -27px;
    right: 16px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#sign-out {
    cursor: pointer;
    color: white;
    float: left;
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
#sign-out:hover {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    background-color: #F5F5DC;
}

.bodyTrip {
    padding: 20px;
}

.bodyTrip a {
    display: inline-block;
    text-decoration: none;
}

.trip-background {
    position: relative;
    height: 540px;
    background: url('../images/trip.jpg') center/cover no-repeat;
}

.trip-background h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 10px #000, 2px 2px 10px #000;
}

.form-login {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
}

.admin-container {
    margin-left: 50px;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px 20px;
}

.cell-edit,
.cell-remove {
    padding-left: 20px;
    border: 0;
}

.content {
   width : 80%;
   margin : 0 auto;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.94);
}

#editForm {
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

.trips-list li {
    margin: 10px 0;
}

.trips-list a {
    display: inline-block;
    padding: 0.1em 1em;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
}

.trips-list a:hover {
    text-decoration: underline;
}
